.photo-card{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;

  &__item {
    flex: 1 1 calc(33.333% - 1rem);
    box-sizing: border-box;
  }
  &__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }
}
