//colors

$primary-color: #25327a;
$secondary-color: #fff;
$button-bg: #c44e00;
$tag-bg: #f4f7ff;
$tag-color: #25327a;

$button-text: $secondary-color;
$card-bg: $secondary-color;


//fonts
$font-family: 'Montserrat', Arial, sans-serif;

//radius
$card-radius: 16px;
