<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/news" routerLinkActive="active">news</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/counter" routerLinkActive="active">Contador</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/hero" routerLinkActive="active">hero</a>
    </li>
        <li class="navbar__item">
      <a class="navbar__link" routerLink="/add-hero" routerLinkActive="active">Añadir Heroe</a>
    </li>
  </ul>
</nav>
